**/obj/**/*
**/bin/**/*
**/*lock.json
**/.idea.*
**/.vs
*.swp
*.*~
bin/
obj/
project.lock.json
.DS_Store
/TestResult.xml
/*.ncrunchsolution.user
/_NCrunch_*/**/*
*.user
**/*.ncrunchproject
**/*nCrunchTemp*
/TestResults/*.trx
build/**/*
